<div class="fluid-container">
  <div class="row">

    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          Github Stars, last week by hour
        </div>
        <div class="chart-stage">
          <div id="chart-01"></div>
        </div>
        <div class="chart-notes">
          The number of Github stars each repository has over time
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Breakdown of Total Stars
        </div>
        <div class="chart-stage">
          <div id="chart-02"></div>
        </div>
        <div class="chart-notes">
          As of last measurement
        </div>
      </div>
    </div>

  </div>

  <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

</div>
